# Ignore node_modules directory
node_modules/

# Ignore environment files
.env*

# Ignore credentials file
credentials.json

# Ignore built files or artifacts
*.html

# Ignore .DS_Store files on macOS
.DS_Store